@import "../mediaQuery.scss";
.card {
  width: 25%;
  height: 20rem;
  border-radius: 1rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  @include res(phone) {
    // display: none;
    flex-direction: column;
  }

  .details {
    color: #fff;
    margin-top: -4rem;
    font-size: 2rem;
    h3 {
      font-family: "kiona", sans-serif;
      font-size: 2rem;
    }
    .amount {
      margin-top: 0.5rem;
      font-size: 3rem;
    }
  }

  .expense {
    background: url(../assets/img/credit-card.png);
  }
  .balance {
    background: url(../assets/img/money.png);
  }
  .income {
    background: url(../assets/img/wallet.png);
  }
  .icon {
    width: 50%;
    height: 80%;
    background-size: cover;
    background-position: center;
    @include res(phone) {
      display: none;
    }
  }
}

.expense:not(.icon) {
  background-color: var(--red);
  box-shadow: 2px 5px 20px rgba(#ff5958, 0.5);
}
.income:not(.icon) {
  background-color: var(--blue);
  box-shadow: 2px 5px 20px rgba(#a8d8ea, 0.5);
}
.balance:not(.icon) {
  background-color: var(--yellow);
  box-shadow: 2px 5px 20px rgba(#ffd271, 0.5);
}
