.auth {
  width: 40rem;
  height: 50rem;
  margin: 5rem auto;
  padding: 5rem;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "studly", sans-serif;
  color: var(--black);
  border-radius: 1rem;

  input {
    padding: 0.8rem;
    margin-bottom: 2rem;
    width: 80%;
  }
  h1 {
    margin-bottom: 5rem;
    font-size: 3rem;
  }

  .btns {
    display: flex;

    .signup,
    .login {
      font-size: 1.6rem;
      padding: 1rem;
      background-color: #fff;
      margin: 1rem;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}
